{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "workouts/web/css/addExercise.css" %}">
<script src="{% static "workouts/web/js/addExercise.js" %}"></script>

    <title>Rep Tracker</title>
  </head>
  <body>
      
         <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">


      <a class="navbar-brand" href="#">
<img id="logo" src="{% static 'workouts/web/img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
Rep Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
         <div class="collapse navbar-collapse" id="navbarsExampleDefault">
     <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/workouts/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/workouts/profile">Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Start Workouot</a>
              <a class="dropdown-item" href="#">Add Exercise</a>
              <a class="dropdown-item" href="#">View History</a>
            </div>
          </li>
        </ul>
	
    <form class="form-inline my-2 my-lg-0">
            <button id="signOutButton" class="btn btn-outline-success my-2 my-sm-0" type="button" onClick="signOutUser()">Sign Out</button>
        </form>

      </div>
    </nav>
	    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
 <container>
 <div class="col-md-4 col-md-offset-4">
 <p>Add an Exercise</p>
 <hr>
<form>
      <div class="form-group">
    <label for="weight">Exercise Name</label>
    <input type="text" class="form-control" id="exerciseName" placeholder="Name of Exercise">
  </div>
  <div id="validationMessage">
      
  </div>
  <div class="form-group">
    <label for="exerciseTypeSelect">Type</label>
  <select name="exerciseType" id="exercise_type_id">
<option value="0">--Select--</option>
{% for ex_type in exercise_types %}
<option value={{ ex_type.id }}>{{ ex_type.ex_type_desc }}</option>
{% endfor %}
</select>
  </div>

  <button type="button" id="addExButton" class="btn btn-primary" onclick="addExercise()">Add Exercise</button>
  <br><br>
<a href="/workouts/home"> <button type="button" class="btn btn-primary mb-2" id="homeButton">Home</button></a>
</form>
 </div>
 </container>

       
 <hr>
      <!-- /container -->

    </main>
	
	    <footer class="container">
      <p>&copy; CAX Ventures 2019</p>
    </footer>

	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>