{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   	<link rel="stylesheet" href="{% static "workouts/web/css/global.css" %}">	
<link rel="stylesheet" href="{% static "workouts/web/css/session_summary.css" %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="{% static "workouts/web/js/exercises.js" %}"></script>

    <title>Rep Tracker</title>
  </head>
  <body>
{% include "workouts/navbar.html" %}
	    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
 <container>
 <div class="col-md-4 col-md-offset-4">
 <br>
 <p>View Available Exercises</p>

  <br>
<table class="table" id="summaryTable">
  <thead>
    <tr>
      <th scope="col">Exercise</th>
      <th scope="col">Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>


{% for e in exercise_list %}

<tr id= {{ e.id }}>
	<td class="exName">{{ e.exercise_nm }}</td>
	<td>{{ e.ex_type.ex_type_desc }}</td>
	<td><button class="editButton">Edit</button></td>
</tr>
{% endfor %}
  </tbody>
</table>
<div class="mainAction">
<a href="/workouts/home"> <button type="button" class="mainButton btn btn-primary mb-2" id="homeButton">Home</button></a>
</div>
 </div>
 </container>

      <!-- /container -->

    </main>
	
{% include "workouts/footer.html" %}

	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
