{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Latest compiled and minified CSS -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "workouts/web/css/historySummary.css" %}">	

<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="{% static "workouts/web/js/historySummary.js" %}"></script>
    <title>Rep Tracker</title>
  </head>
  <body>
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Rep Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
         <div class="collapse navbar-collapse" id="navbarsExampleDefault">
     <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/workouts/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Start Workouot</a>
              <a class="dropdown-item" href="#">Add Exercise</a>
              <a class="dropdown-item" href="#">View History</a>
            </div>
          </li>
        </ul>
	
    <form class="form-inline my-2 my-lg-0">
            <button id="signOutButton" class="btn btn-outline-success my-2 my-sm-0" type="button" onClick="signOutUser()">Sign Out</button>
        </form>

      </div>
    </nav>



 <container>
 <div class="col-md-4 col-md-offset-4">
 <br>
<p class="display-5">Workout history for {{ current_user.user_name }}</p>
 <hr>
 <table class="table" id="summaryTable">
  <thead>
	<tr>
		<th scope="col">Start</th>
		<th scope="col">End</th>
			<th scope="col"></th>
	</tr>
	</thead>
{% for session in current_user.session_set.all %}
<tr>
	<td>{{ session.start_ts }}</td>
	<td>{{ session.end_ts }}</td>
	<td><a href="/workouts/session_summary/{{ session.id }}">Details</a></td>
</tr>
{% endfor %}
  </table>
  <br>

<a href="/workouts/home"> <button type="button" class="btn btn-primary mb-2" id="homeButton">Home</button></a>
 </div>
 </container>
	


 
	
	    <footer class="container">
      <p>&copy; C.A. Ventures 2019</p>
    </footer>

	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>