{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Latest compiled and minified CSS -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "workouts/web/css/global.css" %}">
<link rel="stylesheet" href="{% static "workouts/web/css/historySummary.css" %}">	

<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="{% static "workouts/web/js/historySummary.js" %}"></script>
    <title>Rep Tracker</title>
  </head>
  <body>
{% include "workouts/navbar.html" %}


 <container>
 <div class="col-md-4 col-md-offset-4">
 <br>
<p class="display-5">Workout history for {{ current_user.user_name }}</p>
 <hr>
 <table class="table" id="summaryTable">
  <thead>
	<tr>
		<th scope="col">Start</th>
		<th scope="col">Time</th>
			<th scope="col"></th>
	</tr>
	</thead>
{% for session in current_user.session_set.all %}
<tr>
	<td>{{ session.start_ts }}</td>
	<td>{{ session.get_session_duration.hours }}:{{ session.get_session_duration.minutes }}</td>
	<td><a href="/workouts/session_summary/{{ session.id }}">Details</a></td>
</tr>
{% endfor %}
  </table>
  <br>

<a href="/workouts/home"> <button type="button" class="mainButton btn btn-primary mb-2" id="homeButton">Home</button></a>
 </div>
 </container>
	


 
{% include "workouts/footer.html" %}
	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>