{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Latest compiled and minified CSS -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "workouts/web/css/home.css" %}">	

<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="{% static "workouts/web/js/homepage.js" %}"></script>
    <title>Rep Tracker</title>
  </head>
  <body>
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Rep Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
         <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/workouts/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item"  onClick="CreateSession()" role="button">Start Workout</a>
              <a class="dropdown-item" href="/workouts/add_exercise">Add Exercise</a>
              <a class="dropdown-item" href="/workouts/history">View History</a>
            </div>
          </li>
        </ul>
	
    <form class="form-inline my-2 my-lg-0">
            <button id="signOutButton" class="btn btn-outline-success my-2 my-sm-0" type="button" onClick="signOutUser()">Sign Out</button>
        </form>

      </div>
    </nav>

	    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <p class="display-5">Welcome {{ individual.user_name }}</p>
	  </div>
	  </div> 


      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Start a Workout</h2>
			<p>Begin a session and add your results</p>
            <p><a class="btn btn-secondary" onclick="CreateSession()" href="#" role="button" id="startSessionButton">Begin &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Exercises</h2>
	    <p><a class="btn btn-secondary" href="/workouts/userExercises" role="button">View Exercises &raquo;</a></p>
            <p>Need to add a new exercise option?</p>
            <p><a class="btn btn-secondary" href="/workouts/add_exercise" role="button">Add Exercise &raquo;</a></p>
	<div id='allExercises'>
		<ul id='exList'>
		
		</ul>
	</div>
          </div>
          <div class="col-md-4">
            <h2>Your Results</h2>
            <p>Explore your history with Rep Tracker and manage your progress</p>
            <p><a class="btn btn-secondary" href="/workouts/history" role="button">Review &raquo;</a></p>
          </div>
        </div>

       
 <hr>
      <!-- /container -->

    </main>
	
	    <footer class="container">
      <p>&copy; C.A. Ventures 2019</p>
    </footer>

	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
