{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Latest compiled and minified CSS -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "workouts/web/css/home.css" %}">	

<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="{% static "workouts/web/js/homepage.js" %}"></script>
    <title>Rep Tracker</title>
  </head>
  <body>
{% include "workouts/navbar.html" %}
	    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style="background-image: url({% static 'workouts/web/img/banner.jpeg' %});">
        <div class="container">
          <p class="display-5">Welcome {{ individual.user_name }}</p>
	  </div>
	  </div> 


      <div class="container">
        <div class="row">
          <div class="col-md-4">
		
            {% if individual.has_open_session %}
		<h2>Resume Workout</h2>
			<p>Open current workout to continue or end.</p>
            <p><a href="/workouts/session"><button class="btn btn-secondary mainButton" role="button" id="resumeSessionButton">Resume &raquo;</button></a></p>
          </div>
        
		{% else %}
		
            <h2>Start a Workout</h2>
			<p>Begin a Workout</p>
            <p><button class="btn btn-secondary mainButton" onclick="CreateSession()" href="" role="button" id="startSessionButton">Begin &raquo;</button></p>
          </div>

	{% endif %}		

          <div class="col-md-4">
            <h2>Exercises</h2>
	    <p><a href="/workouts/userExercises"><button class="btn btn-secondary mainButton" role="button">View Exercises &raquo;</button><a></p>
            <p>Need to add a new exercise option?</p>
            <p><a  href="/workouts/add_exercise"><button class="btn btn-secondary mainButton" role="button">Add Exercise &raquo;</button><a></p>
	<div id='allExercises'>
		<ul id='exList'>
		
		</ul>
	</div>
          </div>
          <div class="col-md-4">
            <h2>Your Results</h2>
            <p>Explore your history with Rep Tracker and manage your progress</p>
            <p><a href="/workouts/history"><button class="btn btn-secondary mainButton" href="/workouts/history" role="button">Review &raquo;</button></a></p>
          </div>
        </div>

       
 <hr>
      <!-- /container -->

    </main>
	
{% include "workouts/footer.html" %}

	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
