{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Latest compiled and minified CSS -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<link rel="stylesheet" href="{% static "workouts/web/css/login.css" %}">
<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<script src="{% static "workouts/web/js/login.js" %}"></script>


    <title>Rep Tracker</title>
  </head>
  <body>
   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Rep Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
         <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/workouts/home">Home<span class="sr-only">(current)</span></a>
          </li>              
                  </ul>
        <form class="form-inline my-2 my-lg-0">
        <input type="text" class="form-control" id="inputSignIn" placeholder="Enter User Name">
          <button id="signInButton" class="btn btn-outline-success my-2 my-sm-0" type="button" onClick="signInUser()">Sign In</button>
        </form>
      </div>
    </nav>

	    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style="background-image: url({% static 'workouts/web/img/background.jpeg' %});">
        <div class="container">
<br>
<br>
          <h1 class="display-3">Get Started</h1>
		  <div class="row">
	<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputUserName" class="sr-only">Create New User Name</label>
    <input type="text" class="form-control" id="userNameInput" placeholder="Enter your User Name">
  </div>
  <button type="button" class="btn btn-primary mb-2" id="createButton" onClick="createUser()">Create Account</button>
</form>
   
      </div>
	  </div>
	  </div> 



       
 <hr>
      <!-- /container -->

    </main>
	
	    <footer class="container" id="footer">
      <p>&copy; C.A. Ventures 2019</p>
    </footer>

	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
