{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "workouts/web/css/global.css" %}">	
<link rel="stylesheet" href="{% static "workouts/web/css/profilePage.css" %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{% static "workouts/web/js/profilePage.js" %}"></script>


    <title>Rep Tracker</title>
  </head>
  <body>
{% include "workouts/navbar.html" %}
 <main class="jumbotron">
 <br>
<br>
<h1 id="greetings">	{{ indiv.user_name }}  <a id="avatar">🏋</a></h1>
<br>
<div class="row">
<div class="col-md-6">
<p>Number of Workouts Completed: {{ numSessions }}</p>
</div>
<div class="col-md-6">
<p>Total Time Working Out:<br>	{{ timeTotal.0 }} Days, {{ timeTotal.1 }} Hours, {{ timeTotal.2 }} Minutes </p>
</div>
</div>
<a href="/workouts/home"> <button type="button" class="btn btn-primary mb-2 mainButton" id="homeButton">Home</button></a>

</main>


	
{% include "workouts/footer.html" %}
	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>