{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "workouts/web/css/session.css" %}">
<script src="{% static "workouts/web/js/session.js" %}"></script>

    <title>Rep Tracker</title>
  </head>
  <body>
{% include "workouts/navbar.html" %}    </nav>
	    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
 <container>
 <div class="col-md-4 col-md-offset-4">
 <p>Complete a Set</p>
 <hr>
<form>
  <div class="form-group">
    <label for="exerciseSelect">Exercise</label>
  <select name="exercise" id="exercise_id">
<option value="">--Select--</option>
{% for e in exercises %}
<option value={{ e.id }}>{{ e.exercise_nm }}</option>
{% endfor %}
</select>
  </div>
  <div class="form-group">
    <label for="weight">Weight</label>
    <input type="text" class="form-control" id="weight" placeholder="Enter weight">
  </div>
  <div class="form-group">
    <label for="reps">Reps</label>
    <input type="text" class="form-control" id="reps" placeholder="Enter reps">
  </div>
  <button type="button" id="addSetButton" class="btn btn-primary" onclick="AddSet()">Complete Set</button>
  <br><br>
  <button type="button" id="endWorkoutButton" class="btn btn-primary" onclick="EndSession()">End Workout</button>
</form>
 </div>
 </container>

       
 <hr>
      <!-- /container -->

    </main>
	
{% include "workouts/footer.html" %}
	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>