#addExButton {
	border-color: #33C1FF;
	color: #33C1FF;	
	background-color: white !important;
}

#homeButton {
	border-color: #33C1FF;
	color: #33C1FF;
	background-color: white !important;
}

form {
    
    border: 1px solid #33C1FF;
}

