#homeButton {
	border-color: #33C1FF;
	color: #33C1FF;	
	background-color: white !important;
}

#homeButton {
	border-color: #33C1FF;
	color: #33C1FF;
	background-color: white !important;
}


#summaryTable {
	
		border: 1px solid #33C1FF;
}

#summaryTable tr:nth-child(even){background-color: #f2f2f2;}


#signOutButton  {
	border-color: #33C1FF;
	color: #33C1FF;

}