#signInButton {
	border-color: #33C1FF;
	color: #33C1FF;
	
	
	
}


#signInButton:hover {
    color: #33C1FF;
    background-color: #337AB7 !important;
    border-color: #2E6DA4 !important;
}

#signInButton:focus {
    color: #33C1FF;
    border-color: #2E6DA4 !important;
    box-shadow: none;
}

.jumbotron {
	height: 70vh;
	background-repeat: no-repeat;
 	 background-size:cover;

	
	
}

#createButton {
	border-color: #33C1FF;
	color: #33C1FF;
	background-color: white !important;
	
}

h1 {

color: white;

}

#validationMessage {

	color: white;

}

