
#greetings {
	color: black;

}




.jumbotron {
padding-top: 60px !important!;
background-color: 	white !important;

}
body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
.jumbotron {
padding-top: 60px !important!

}


#buttonDiv {
	text-align: center;

}